{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}
{% block content %}
<div>
    <p>Название поставщика:{{one_suplier.title}}</p>
    <p>Имя владельца:{{ one_suplier.agent_name }}</p>
    <p>Фамилия:{{ one_suplier.agent_firstname }}</p>
    <p>Отчество:{{ one_suplier.agent_patronymic }}</p>

<a href="{% url 'show_suplier' %}" class="btn btn-info">Назад</a>

    {% if perms.place.change_supplier %}
    <a href="{% url 'edit_suplier' one_suplier.pk %}" class="btn btn-primary">Редактировать</a>
    {% endif %}
    {% if perms.place.delete_supplier %}
    <form method="post" action="{% url 'delete_suplier' object.pk %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Удалить">
    </form>
    {% endif %}
</div>
{% endblock %}